@model IEnumerable<Soft_Eng_Spring2024.Models.Poll>

@{
    ViewData["Title"] = "Index";
}
<div style="background-color:rgb(97,5,27,0.3);padding:20px;">
    <h1 style="margin-left:20px; font-weight:bold; color:#fff;">ΔΗΜΟΣΚΟΠΗΣΕΙΣ</h1>

    @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
    {
        if (User.FindFirst("Role").Value == "2" || User.FindFirst("Role").Value == "3")
        {
            <p>
                <a class="btn btn-secondary" asp-action="Create" style="margin-left: 20px;">Δημιουργία νέας δημοσκόπησης +</a>
            </p>
        }
    }

    <div class="card mb-3" style="background-color: rgba(16, 16, 16, 0.5); margin:20px;display:inline-block;">
        <div class="card-body">
            <table class="table table-striped" style="color:white;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Τίτλος</th>
                        <th scope="col">Ημερομ. Έναρξης</th>
                        <th scope="col">Ημερομ. Λήξης</th>
                        <th scope="col">Ψήφοι</th>
                        <th scope="col">Ενέργειες</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.FinishDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Votes)</td>
                            <td>
                                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Λεπτομέρειες</a>

                                @if (User == null || User.Identity == null || !User.Identity.IsAuthenticated || User.FindFirst("Role").Value == "2" || User.FindFirst("Role").Value == "3")
                                {
                                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Επεξεργασία</a>
                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Διαγραφή</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>