@model IEnumerable<Soft_Eng_Spring2024.Models.User>



<link rel="stylesheet" type="text/css" href="~/css/auth.css" />

    <div class="hero_area">
		<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Διαχείριση Χρηστών</h3>
				</div>
				<div class="card-body">
					<table class="table" style="color:white;">
						<thead>
							<tr>
								<th>Όνομα</th>
								<th>Επώνυμο</th>
                                <!--<th>Email</th>-->
								<th>Ρόλος Χρήστη</th>
								<th></th>
                                <th></th>
							</tr>
						</thead>
						<tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                @using (Html.BeginForm("User_Approval", "Users", FormMethod.Post))
                                {
                                       <input type="hidden" name="Id" value="@item.Id"/>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Firstname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lastname)
                                    </td>
                                    /*<td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>*/
                                    <td>
                                                @if (item.Role == 1)
                                                {
                                                <select name="Role" value="@item.Role" class="form-select-sm">
                                                    <option value="1" selected>Φοιτητής</option>
                                                    <option value="2">Καθηγητής</option>
                                                    <option value="3">Διαχειριστής</option>
                                                </select>
                                                }
                                                else if (item.Role == 2)
                                                {
                                                     <select name="Role" value="@item.Role" class="form-select-sm">
                                                    <option value="1">Φοιτητής</option>
                                                    <option value="2" selected>Καθηγητής</option>
                                                    <option value="3">Διαχειριστής</option>
                                                    </select>
                                                }
                                                else if(item.Role== 3)
                                                {
                                                     <select name="Role" disabled value="@item.Role" class="form-select-sm">
                                                    <option value="1">Φοιτητής</option>
                                                    <option value="2">Καθηγητής</option>
                                                    <option value="3" selected>Διαχειριστής</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                     <select name="Role" value="@item.Role" class="form-select-sm">
                                                    <option value="0" selected disabled>--Επιλέξτε Ρόλο--</option>
                                                    <option value="1">Φοιτητής</option>
                                                    <option value="2">Καθηγητής</option>
                                                    <option value="3">Διαχειριστής</option>
                                                    </select>
                                                }                                                
                                    </td>
                                        <td>
                                            @if (item.Role == 3)
                                            {
                                                <input type="submit" value="Αποθήκευση" disabled class="btn float-right login_btn" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="Αποθήκευση" class="btn float-right login_btn" />
                                            }
                                        </td>
                                            
                                    }
                                        
                                            @using (Html.BeginForm("Delete", "Users", FormMethod.Post))
                                    {
                                        <td>
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            @if(item.Role==3){
                                                <input type="submit" value="Διαγραφή" disabled class="btn btn-outline-danger" />
                                            }
                                            else
                                            {
                                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Διαγραφή</a>

                                            }
                                            
                                        </td>
                                    }
                                </tr>
                            }     
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>





